<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
      #drawer 
      class="sidenav" 
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <img src="assets/hopital-logo.jpeg" alt="Hospital Logo" class="hospital-logo">
      </mat-toolbar>
      <mat-nav-list>
        <mat-list-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </mat-list-item>
        <mat-list-item routerLink="/patients">
          <mat-icon>account_circle</mat-icon>
          <span>Liste des Patients</span>
        </mat-list-item>
        <mat-list-item routerLink="/patients/new">
            <mat-icon>account_circle</mat-icon>
            <span>Ajouter un Patient</span>
          </mat-list-item>
      
       
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Bienvenue chez FhunHospital</span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <div class="grid-container">
          <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  