<mat-toolbar color="primary">Ajouter les contacts  d'un patient</mat-toolbar>
<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <h3>Contacts</h3>
      <div class="scrollable-content" formArrayName="contacts">
        <div *ngFor="let contact of contacts.controls; let i = index" [formGroupName]="i">
          <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Fixe</mat-label>
            <input matInput formControlName="fixe" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" />
          </mat-form-field>
        </div>
          <button mat-icon-button color="warn" (click)="removeContact(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <button mat-button (click)="addContact()">Ajouter un contact</button>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Enregistrer</button>
    </mat-card-actions>
  </mat-card>
</form>
